# KiCad
*.kicad_prl
*-backups/
_autosave-*
*.bak
*.lck
.history

# Diamond temporary/build output
*.run
/fpga/diamond/v1_0/
/fpga/tests/build/

# RP2040 build atrifacts
firmware/rp2040/*/build/

# Editors
*~
*.swp

# G-codes
*.gcode

# OS
.DS_Store
Thumbs.db
