# KiCad
*.kicad_prl
*-backups/
_autosave-*
*.bak
*.lck
.history

# Diamond temporary/build output
*.run
/fpga/diamond/v1_0/
/fpga/tests/build/
/fpga/diamond/programmer/
/fpga/diamond/game_rom/
__pycache__/

# RP2040 build atrifacts
firmware/rp2040/*/build/
firmware/rp2040/*/build-*/

# Editors
*~
*.swp

# G-codes
*.gcode

# OS
.DS_Store
Thumbs.db
AGENTS.md
flash-test-*
ttr.gb
