BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "gb_a[0]" SITE "27" ;
IOBUF PORT "gb_a[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_a[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_a[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_a[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_a[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_a[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_a[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_a[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_a[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_a[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_a[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_a[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_a[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_a[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_a[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_a[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_rd_n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "data_oe_n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_d[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_d[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_d[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_d[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_d[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_d[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_d[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gb_d[7]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "gb_a[2]" SITE "29" ;
LOCATE COMP "gb_d[3]" SITE "49" ;
LOCATE COMP "gb_d[4]" SITE "51" ;
LOCATE COMP "gb_d[5]" SITE "52" ;
LOCATE COMP "gb_d[6]" SITE "53" ;
LOCATE COMP "gb_d[7]" SITE "54" ;
LOCATE COMP "gb_a[3]" SITE "30" ;
LOCATE COMP "gb_a[4]" SITE "31" ;
LOCATE COMP "gb_a[5]" SITE "32" ;
LOCATE COMP "gb_a[6]" SITE "34" ;
LOCATE COMP "gb_a[7]" SITE "35" ;
LOCATE COMP "gb_a[8]" SITE "36" ;
LOCATE COMP "gb_a[9]" SITE "37" ;
LOCATE COMP "gb_a[10]" SITE "38" ;
LOCATE COMP "gb_a[11]" SITE "39" ;
LOCATE COMP "gb_a[12]" SITE "40" ;
LOCATE COMP "gb_a[13]" SITE "41" ;
LOCATE COMP "gb_a[14]" SITE "42" ;
LOCATE COMP "gb_a[15]" SITE "43" ;
LOCATE COMP "gb_d[0]" SITE "45" ;
LOCATE COMP "gb_d[1]" SITE "47" ;
LOCATE COMP "gb_d[2]" SITE "48" ;
LOCATE COMP "data_oe_n" SITE "58" ;
LOCATE COMP "gb_rd_n" SITE "60" ;
LOCATE COMP "gb_a[1]" SITE "28" ;
LOCATE COMP "data_dir" SITE "57" ;
IOBUF PORT "data_dir" IO_TYPE=LVCMOS33 ;
